

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
/* Tailwind CSS */
@import "tailwindcss";

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme */
@theme {
   --font-dmsans: "Almarai", "serif";

   --breakpoint-xs: 540px;
   --breakpoint-sm: 640px;
   --breakpoint-md: 720px;
   --breakpoint-lg: 960px;
   --breakpoint-lg_992: 992px;
   --breakpoint-xl: 1140px;
   --breakpoint-2xl: 1140px;

   --text-base: 16px;
   --text-base--line-height: 28px;
   --text-lg: 18px;
   --text-lg--line-height: 28px;
}

/* Custom */
@import "./custom/_general.css";

@import "./custom/structure/_topnav.css";

@import "../../../tailwind.config.js";